@page
@model ShoppingFantasy.Pages.OrderIndexModel
@{
    ViewData["Title"] = "Mes Ordres";

}



<div class= "pt-5 container ">
    <div class="text-center pb-2">
        <h3 class="text-info">Mes Ordres</h3>
    </div>
<table class="table table-sm table-secondary table-hover ">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Prenom
            </th>
            <th>
                Telephone
            </th>
            <th>
                E-Mail
            </th>
            <th>
                Statut
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderHeaders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SurName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem =>item.AppUser.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>

                <td>
                    @*@Html.DisplayFor(modelItem => item.OrderTotal)*@
                    @item.OrderTotal.ToString("c")
                </td>
                <td>
                    <a asp-page="OrderDetails" asp-route-orderId="@item.Id" class="btn btn-sm btn-info"><i class="bi bi-eye-fill"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>


