@page
@model ShoppingFantasy.Pages.ProductByCategoryModel
@{
    ViewData["Title"] = $"{Model.Category.Name}";
}


<ul class="list-unstyled">
    @foreach(var product in Model.Category.Products)
    {
        <li class=" row oi-media-pause my-3 container bg-primary rounded">
            <div class="media-img-wrapper mr-2 pt-2 px-2">
                @foreach(var picture in product.Picture)
                {
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productModal-@product.Id-@picture.Id">
                        <img class="media-img rounded" src="@picture.PictureUrl" alt="@product.Name" />
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="productModal-@product.Id-@picture.Id" tabindex="-1" aria-labelledby="productModalLabel-@product.Id-@picture.Id" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content text-center">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="productModalLabel-@product.Id-@picture.Id">@product.Name</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img src="@picture.PictureUrl" alt="@product.Name" class="img-fluid rounded shadow-lg" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="media-body pb-2">
                <h4 class="mb-0 pb-3 pt-3">@product.Name</h4>
                <div class="container bg-secondary rounded">
                <p><em>@product.Description</em></p>
                </div>
                    <div class="flex-row px-4">
                @if (product.IsInPromo)
                {
                    <h5 class="price"><strike class="text-warning">@product.Price.ToString("c")</strike></h5>
                    <h5 class="price"><strong class="text-info">@product.PromoPrice.ToString("c")</strong></h5>
                }
                else
                {
                    <h5 class="price"><strong class="text-info">@product.Price.ToString("c")</strong></h5>
                }
                    <button class="btn btn-info btn-sm"><i class="bi bi-cart"></i> Ajouter au panier</button>
                    </div>
                </div>
           
         </li>
         
    }
</ul>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<style>
    .modal-content {
        background-color: whitesmoke;
        border-color: #333;
        box-shadow: 0 3px 9px rgba(0,0,0,0.5);
        color: #333;
    }
</style>










