@page
@model ShoppingFantasy.Pages.ProductByCategoryModel
@{
    ViewData["Title"] = $"{Model.Category.Name}";
}

<ul class="list-unstyled">

    @foreach (var product in Model.Category.Products)
    {

        <li class="container bg-secondary oi-media-pause my-3 rounded hoverable" style="display: flex;">
            <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#productModal-@product.Id">
            <div class="media-img-wrapper mr-2 pt-2 px-2">
                <img class="media-img rounded" src="@product.Picture.FirstOrDefault().PictureUrl" alt="@product.Name" />
            </div>
            </button>

            <div class="media-body text-center" style="display: flex;">
                    <h4 class="mb-0 pt-3">@product.Name</h4>
                
                <div class="flex-row px-4 pb-3 pt-3">
                    @if (product.IsInPromo)
                    {
                        <h5 class="price"><strike class="text-danger">@product.Price <i class="bi bi-currency-euro"></i></strike></h5>
                        <h5 class="price"><strong class="text-success">@product.PromoPrice <i class="bi bi-currency-euro"></i></strong></h5>
                    }
                    else
                    {
                        <h5 class="price"><strong class="text-success">@product.Price <i class="bi bi-currency-euro"></i></strong></h5>
                    }
                    <a  asp-route-id="@product.Id" asp-page="/ProductDetails">
                    <button class="btn btn-info btn-sm"><i class="bi bi-eye-fill"></i> Details</button>
                    </a>
                </div>
            </div>
            
        </li>

        <!-- Modal -->
        <div class="modal fade modal-lg" id="productModal-@product.Id" tabindex="-1" aria-labelledby="productModalLabel-@product.Id" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content text-center">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-center" id="productModalLabel-@product.Id">@product.Name</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                    </div>
                    <div class="modal-body">
                        <div id="productCarousel-@product.Id" class="carousel slide" data-bs-ride="carousel">
                            <!-- Indicateurs -->
                            <ol class="carousel-indicators">
                                @foreach (var picture in product.Picture)
                                {
                                    <li data-bs-target="#productCarousel-@product.Id" data-bs-slide-to="@product.Picture.ToList().FindIndex(p => p == picture)" class="@(product.Picture.ToList().FindIndex(p => p == picture) == 0 ? "active" : "")"></li>
                                }
                            </ol>
                            <!-- Diapositives -->
                            <div class="carousel-inner">
                                @foreach (var picture in product.Picture)
                                {
                                    <div class="carousel-item @(product.Picture.ToList().FindIndex(p => p == picture) == 0 ? "active" : "")">
                                        <img src="@picture.PictureUrl" alt="@product.Name" class="img-fluid rounded shadow-lg" />
                                    </div>
                                }
                            </div>
                            <!-- Contrôles -->
                            <a class="carousel-control-prev text-info" href="#productCarousel-@product.Id" role="button" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Précédent</span>
                            </a>
                            <a class="carousel-control-next text-info" href="#productCarousel-@product.Id" role="button" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Suivant</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script>
            $(document).ready(function () {
                $('#productModal-@product.Id').on('shown.bs.modal', function () {
                    $('#productCarousel-@product.Id').carousel();
                }).on('hidden.bs.modal', function () {
                    $('#productCarousel-@product.Id').carousel('pause');
                });
            });
        </script>

    }
</ul>

<style>
    .modal-content {
        background-color: whitesmoke;
        border-color: #333;
        box-shadow: 0 3px 9px rgba(0,0,0,0.5);
        color: #333;
    }

    img {
        max-width: 200px;
        max-height: 200px;
        border-radius: 6px;
        transition: transform .2s;
        margin-bottom: 10px;
    }

        img:hover {
            transform: scale(1.1) rotate(5deg);
            border: 2px solid black;
            box-shadow: 10px 5px 5px black;
        }

    .hoverable {
        position: relative;
    }

        .hoverable:hover {
            z-index: 10;
            border: 2px solid black;
            box-shadow: 10px 5px 5px black;
    @*transform: scale(1.1) rotate(-1.2deg);*@
        }
</style>
