@page
@model ShoppingFantasy.Pages.ProductDetailsModel
@{
    ViewData["Title"] = $"{Model.ShoppingCart.Product.Name}";
}


<h1 class="text-center text-info title-product pt-3">@Model.ShoppingCart.Product.Name</h1>

        <div class="row">
            <div class="col-md-6 colonne">
               <section id="image-carousel" class="splide" aria-label="Beautiful Images">
                 <div class="splide__track">
                        <ul class="splide__list">
                             @foreach(var pic in Model.ShoppingCart.Product.Picture)
                             {
                                     <li class="splide__slide">
                                        <img src="@pic.PictureUrl" alt="@pic.FileName">
                                     </li>
                             }
                        </ul>
                 </div>
              </section>
            </div>
            <div class="col-md-6  ">
                    @if (Model.ShoppingCart.Product.IsInPromo)
                    {
                    <h5 class="price pt-3"><strike class="text-danger">@Model.ShoppingCart.Product.Price <i class="bi bi-currency-euro"></i></strike></h5>
                    <h5 class="price"><strong class="text-success">@Model.ShoppingCart.Product.PromoPrice <i class="bi bi-currency-euro"></i></strong></h5>
                    }
                    else
                    {
                    <h5 class="price pt-3"><strong class="text-success">@Model.ShoppingCart.Product.Price <i class="bi bi-currency-euro"></i></strong></h5>
                    }
                 <form method="post">
                        <input hidden asp-for="ShoppingCart.ProductId" />
                 <div class="col-12 pb-3">
                <h4 class="text-info">Nombre</h4>
                <input asp-for="ShoppingCart.Count" class="form-control" asp-val-range="1, 1000" />
                <span asp-validation-for="ShoppingCart.Count" class="text-danger" asp-val-range="1, 1000"></span>
                </div>
                <div class="col-12 pb-3">
                    @if (User.Identity.IsAuthenticated)
                    {

                    <button type="submit" value="ProductDetails" class="btn btn-success btn-sm"><i class="bi bi-cart"></i> Ajouter au panier</button>
                    @if (Model.ShoppingCart.Product.IsInPromo)
                    {
                        <span class="badge bg-info ">En Promotion !</span>
                    }

                }
                    else
                    {

                        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-dark pb-2">Créer un compte</a>
                        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-dark">Se Connecter</a>

                    }
                    

                </div>
                </form>
            </div>
            <article class="col-12 text-center ">
                <p>@Html.Raw(Model.ShoppingCart.Product.Description)</p>
            </article>
        </div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            new Splide('#image-carousel', {
                heightRatio: 0.5,
            }).mount();
        });
    </script>
}

<style>
    .splide__slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

</style>


